cloudpickle==1.6.0
cycler==0.10.0
dataclasses==0.6
future==0.18.2
gym==0.17.3
gym-conservation==0.0.5
-e git+https://github.com/boettiger-lab/gym_fishing@db03739a56dbd53a13d2c5a2870dd486e4d03630#egg=gym_fishing
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.4
pandas==1.1.4
Pillow==8.0.1
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
scipy==1.5.4
six==1.15.0
stable-baselines3==0.10.0
torch==1.7.0
typing-extensions==3.7.4.3
