absl-py==0.12.0
alembic==1.6.5
appdirs==1.4.4
atari-py==0.2.9
attrs==21.2.0
black==21.5b1
box2d-py==2.3.8
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
cliff==3.8.0
cloudpickle==1.6.0
cmaes==0.8.2
cmd2==1.5.0
colorama==0.4.4
colorlog==5.0.1
cycler==0.10.0
dataclasses==0.6
DataProperty==0.50.1
future==0.18.2
google-auth==1.30.1
google-auth-oauthlib==0.4.4
greenlet==1.1.0
grpcio==1.38.0
gym==0.17.3
gym-conservation==0.0.5
-e git+https://github.com/boettiger-lab/gym_fishing@9e06fd2490314d9ce644962d369ac4dc651b0534#egg=gym_fishing
gym-minigrid==1.0.2
idna==2.10
joblib==1.0.1
kiwisolver==1.3.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.3
mbstrdecoder==1.0.1
msgfy==0.1.0
mypy-extensions==0.4.3
numpy==1.19.4
oauthlib==3.1.0
opencv-python==4.5.2.52
optuna==2.7.0
packaging==20.9
pandas==1.1.4
pathspec==0.8.1
pathvalidate==2.4.1
pbr==5.6.0
Pillow==8.0.1
prettytable==2.1.0
protobuf==3.17.1
psutil==5.8.0
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.1.7
pyglet==1.5.0
pyparsing==2.4.7
pyperclip==1.8.2
pytablewriter==0.60.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.4
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
sb3-contrib==1.1.0a7
scikit-learn==0.24.2
scikit-optimize==0.8.1
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
SQLAlchemy==1.4.16
stable-baselines3==1.1.0a7
stevedore==3.3.0
tabledata==1.1.4
tcolorpy==0.0.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.0
tqdm==4.61.0
typepy==1.1.5
typing-extensions==3.7.4.3
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==2.0.1
